<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496652440780-i8ej7s9kamp7l927e04ocvd7jgl3tuim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496652440780-i8ej7s9kamp7l927e04ocvd7jgl3tuim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496652440780-06h96ihtrogp2h5jkklmnsr5ugf6ul3n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYJ8Nc-188R6ShfLEDGKaNiBuWdQqJ85M</string>
	<key>GCM_SENDER_ID</key>
	<string>496652440780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoom</string>
	<key>PROJECT_ID</key>
	<string>chat-room-7fc65</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-room-7fc65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496652440780:ios:5ac614a7c728e780</string>
	<key>DATABASE_URL</key>
	<string>https://chat-room-7fc65.firebaseio.com</string>
</dict>
</plist>